{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="col-md-10 content p-3 bg-white my-shadow">
		<div class="row d-flex justify-content-center">
			{% for post in posts %}
				<div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center">
					<div class="card card-shadow mb-4" style="width: 18rem;">
						{% if post.filename %}
						<a href="{{ path('post', {id : post.id})}}">
							<div class="embed-responsive embed-responsive-1by1">
							<img class="card-img-top embed-responsive-item" src="{{ vich_uploader_asset(post, 'imageFile')}}">
							</div>
						</a>
						{% else %}
						<a href="{{ path('post', {id : post.id})}}">
							<div class="embed-responsive embed-responsive-1by1">
							<img class="card-img-top embed-responsive-item" src="{{ asset('images/posts/No_Image_Available.jpg') }}">
							</div>
						</a>
						{% endif %}
						
						<div class="card-body">
							<a href="{{ path('post', {id : post.id})}}"><h5 class="card-title">{{ post.title }}</h5></a>
							<p class="card-text">{{ post.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div id="pagination" class="pagination d-flex justify-content-center">
			{{ knp_pagination_render(posts) }}
		</div>
	<div>
{% endblock %}