{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <div class="col-md-8 content p-3 bg-white my-shadow">
        <p class="h1 text-center">{{post.title}}</p>
        <hr>
        <div class="row">
            {% if post.filename %}
            <div class="col-md-4 mb-4">
                <img class="img-fluid" src="{{ vich_uploader_asset(post, 'imageFile')}}">
            </div>
            <div class="col-md-8">
            {% else %}
               <div class="col-md-12">
            {% endif %}
                <p class="article-text"> {{ post.description }} </p>
                <br>
             <h6 class="text-right"> Créé le  : {{ post.createdAt | date("d-m-Y H:i:s") }} </h6>

            </div>
        </div>
    </div>
{% endblock %}